img {
    border: 0;
    position: fixed;
    top: 10px;
}
.main{
 	margin-top: 70px;
}

div.container {
    position: fixed;
    bottom: auto;
    right: 500px;
    width: 300px;
}
fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
